/* .leaflet-marker-icon.pulsing-marker {
    transition: filter 0.3s ease-in-out;
}

.leaflet-marker-icon.pulsing-marker:hover {
    animation: pulse-shadow 1.5s infinite ease-in-out;
} */

@keyframes pulse-shadow {
    0% { filter: drop-shadow(0 0 2px #83124F); }
    50% { filter: drop-shadow(0 0 10px #83124F); }
    100% { filter: drop-shadow(0 0 2px #83124F); }
}

.leaflet-marker-icon:hover {
    animation: pulse-shadow 1.5s infinite;
    transition: transform 0.2s;
}